pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.hilight .hll { background-color: #222222 }
.hilight { background: #000000; color: #cccccc }
.hilight .c { color: #000080 } /* Comment */
.hilight .err { color: #cccccc; border: 1px solid #FF0000 } /* Error */
.hilight .esc { color: #cccccc } /* Escape */
.hilight .g { color: #cccccc } /* Generic */
.hilight .k { color: #cdcd00 } /* Keyword */
.hilight .l { color: #cccccc } /* Literal */
.hilight .n { color: #cccccc } /* Name */
.hilight .o { color: #3399cc } /* Operator */
.hilight .x { color: #cccccc } /* Other */
.hilight .p { color: #cccccc } /* Punctuation */
.hilight .ch { color: #000080 } /* Comment.Hashbang */
.hilight .cm { color: #000080 } /* Comment.Multiline */
.hilight .cp { color: #000080 } /* Comment.Preproc */
.hilight .cpf { color: #000080 } /* Comment.PreprocFile */
.hilight .c1 { color: #000080 } /* Comment.Single */
.hilight .cs { color: #cd0000; font-weight: bold } /* Comment.Special */
.hilight .gd { color: #cd0000 } /* Generic.Deleted */
.hilight .ge { color: #cccccc; font-style: italic } /* Generic.Emph */
.hilight .gr { color: #FF0000 } /* Generic.Error */
.hilight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.hilight .gi { color: #00cd00 } /* Generic.Inserted */
.hilight .go { color: #888888 } /* Generic.Output */
.hilight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.hilight .gs { color: #cccccc; font-weight: bold } /* Generic.Strong */
.hilight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.hilight .gt { color: #0044DD } /* Generic.Traceback */
.hilight .kc { color: #cdcd00 } /* Keyword.Constant */
.hilight .kd { color: #00cd00 } /* Keyword.Declaration */
.hilight .kn { color: #cd00cd } /* Keyword.Namespace */
.hilight .kp { color: #cdcd00 } /* Keyword.Pseudo */
.hilight .kr { color: #cdcd00 } /* Keyword.Reserved */
.hilight .kt { color: #00cd00 } /* Keyword.Type */
.hilight .ld { color: #cccccc } /* Literal.Date */
.hilight .m { color: #cd00cd } /* Literal.Number */
.hilight .s { color: #cd0000 } /* Literal.String */
.hilight .na { color: #cccccc } /* Name.Attribute */
.hilight .nb { color: #cd00cd } /* Name.Builtin */
.hilight .nc { color: #00cdcd } /* Name.Class */
.hilight .no { color: #cccccc } /* Name.Constant */
.hilight .nd { color: #cccccc } /* Name.Decorator */
.hilight .ni { color: #cccccc } /* Name.Entity */
.hilight .ne { color: #666699; font-weight: bold } /* Name.Exception */
.hilight .nf { color: #cccccc } /* Name.Function */
.hilight .nl { color: #cccccc } /* Name.Label */
.hilight .nn { color: #cccccc } /* Name.Namespace */
.hilight .nx { color: #cccccc } /* Name.Other */
.hilight .py { color: #cccccc } /* Name.Property */
.hilight .nt { color: #cccccc } /* Name.Tag */
.hilight .nv { color: #00cdcd } /* Name.Variable */
.hilight .ow { color: #cdcd00 } /* Operator.Word */
.hilight .w { color: #cccccc } /* Text.Whitespace */
.hilight .mb { color: #cd00cd } /* Literal.Number.Bin */
.hilight .mf { color: #cd00cd } /* Literal.Number.Float */
.hilight .mh { color: #cd00cd } /* Literal.Number.Hex */
.hilight .mi { color: #cd00cd } /* Literal.Number.Integer */
.hilight .mo { color: #cd00cd } /* Literal.Number.Oct */
.hilight .sa { color: #cd0000 } /* Literal.String.Affix */
.hilight .sb { color: #cd0000 } /* Literal.String.Backtick */
.hilight .sc { color: #cd0000 } /* Literal.String.Char */
.hilight .dl { color: #cd0000 } /* Literal.String.Delimiter */
.hilight .sd { color: #cd0000 } /* Literal.String.Doc */
.hilight .s2 { color: #cd0000 } /* Literal.String.Double */
.hilight .se { color: #cd0000 } /* Literal.String.Escape */
.hilight .sh { color: #cd0000 } /* Literal.String.Heredoc */
.hilight .si { color: #cd0000 } /* Literal.String.Interpol */
.hilight .sx { color: #cd0000 } /* Literal.String.Other */
.hilight .sr { color: #cd0000 } /* Literal.String.Regex */
.hilight .s1 { color: #cd0000 } /* Literal.String.Single */
.hilight .ss { color: #cd0000 } /* Literal.String.Symbol */
.hilight .bp { color: #cd00cd } /* Name.Builtin.Pseudo */
.hilight .fm { color: #cccccc } /* Name.Function.Magic */
.hilight .vc { color: #00cdcd } /* Name.Variable.Class */
.hilight .vg { color: #00cdcd } /* Name.Variable.Global */
.hilight .vi { color: #00cdcd } /* Name.Variable.Instance */
.hilight .vm { color: #00cdcd } /* Name.Variable.Magic */
.hilight .il { color: #cd00cd } /* Literal.Number.Integer.Long */
